gh-actions-for-devops
=====================

GitHub Actions workflows for DevOps

[![CI](https://github.com/dceoy/gh-actions-for-devops/actions/workflows/ci.yml/badge.svg)](https://github.com/dceoy/gh-actions-for-devops/actions/workflows/ci.yml)

Reusable workflows
------------------

- [.github/workflows/](.github/workflows/)
{% for f in workflows %}
  - [{{ f.file }}](.github/workflows/{{ f.file }})
    - {{ f.name }}
{% endfor %}
