---
name: Lint for AWS CloudFormation
on:
  workflow_call:
    inputs:
      search-path:
        required: false
        type: string
        description: Path to search for files
        default: .
      python-version:
        required: false
        type: string
        description: Python version to use
        default: 3.x
      use-yamllint:
        required: false
        type: boolean
        description: Whether to use yamllint
        default: true
      yamllint-config-data:
        required: false
        type: string
        description: Configuration data for yamllint
        default: '{"extends": "relaxed", "rules": {"line-length": "disable"}}'
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  cloudformation-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}
      - name: Install cfn-lint and yamllint
        run: >
          pip install -U --no-cache-dir cfn-lint
      - name: Execute cfn-lint
        working-directory: ${{ inputs.search-path }}
        run: >
          find . -type f \( -name '*.cfn.yml' -o -name '*.cfn.yaml' \) -print0
          | xargs -0 -t cfn-lint
  yaml-lint:
    if: inputs.use-yamllint
    uses: ./.github/workflows/yaml-lint.yml
    with:
      search-path: ${{ inputs.search-path }}
      python-version: ${{ inputs.python-version }}
      yamllint-config-data: ${{ inputs.yamllint-config-data }}
