---
name: PR-agent
on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review
  issue_comment:
    types:
      - created
      - edited
      - deleted
  workflow_call:
    inputs:
      model:
        required: false
        type: string
        description: Model to use for the API
        default: null
      model_turbo:
        required: false
        type: string
        description: Turbo model to use for the API
        default: null
      fallback_models:
        required: false
        type: string
        description: Fallback models to use for the API
        default: null
      max-description-tokens:
        required: false
        type: string
        description: Maximum number of tokens for description
        default: null
      max-commits-tokens:
        required: false
        type: string
        description: Maximum number of tokens for commits
        default: null
      max-model-tokens:
        required: false
        type: string
        description: Maximum number of tokens for model
        default: null
      auto-describe:
        required: false
        type: boolean
        description: Automatically describe the pull request
        default: true
      auto-review:
        required: false
        type: boolean
        description: Automatically review the pull request
        default: true
      auto-improve:
        required: false
        type: boolean
        description: Automatically improve the pull request
        default: true
      pr-description-extra-instructions:
        required: false
        type: string
        description: Extra instructions for the pull request description
        default: null
      pr-reviewer-extra-instructions:
        required: false
        type: string
        description: Extra instructions for the pull request reviewer
        default: null
      pr-code-suggestions-extra-instructions:
        required: false
        type: string
        description: Extra instructions for the pull request code suggestions
        default: null
      pr-update-changelog-extra-instructions:
        required: false
        type: string
        description: Extra instructions for the pull request update changelog
        default: null
      openai-api-type:
        required: false
        type: string
        description: Type for OpenAI API
        default: null
      openai-api-base:
        required: false
        type: string
        description: Base URL for OpenAI API
        default: null
      openai-api-version:
        required: false
        type: string
        description: Version for OpenAI API
        default: null
      openai-deployment-id:
        required: false
        type: string
        description: Deployment ID for OpenAI API
        default: null
      aws-iam-role-to-assume:
        required: false
        type: string
        description: AWS IAM role ARN to assume
        default: null
      aws-region:
        required: false
        type: string
        description: AWS region to use
        default: us-east-1
      aws-profile-env-file:
        required: false
        type: string
        description: Path to the file containing the AWS profile environment variables
        default: null
    secrets:
      OPENAI_API_KEY:
        required: false
        description: OpenAI API key
      OPENAI_ORGANIZATION:
        required: false
        description: OpenAI organization
      GROQ_API_KEY:
        required: false
        description: Groq API key
permissions:
  contents: write
  pull-requests: write
  issues: write
  id-token: write
jobs:
  pr-agent:
    if: >
      github.event.sender.type != 'Bot'
      && (
        github.event_name == 'pull_request'
        || github.event_name == 'issue_comment'
        || github.event_name == 'workflow_call'
      )
    runs-on: ubuntu-latest
    name: Run PR-agent
    steps:
      - name: Read AWS profile environment file
        if: inputs.aws-profile-env-file != null
        id: aws-profile-env
        run: |
          cat ${{ inputs.aws-profile-env-file }} >> "${GITHUB_OUTPUT}"
      - name: Configure AWS credentials
        if: >
          inputs.aws-profile-env-file != null
          || (
            inputs.aws-iam-role-to-assume != null && steps.aws-profile-env.outputs.ROLE_ARN == null
          )
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.aws-iam-role-to-assume || steps.aws-profile-env.outputs.ROLE_ARN || null }}
          aws-region: ${{ inputs.aws-region || steps.aws-profile-env.outputs.REGION || null }}
          role-session-name: github-actions-${{ github.run_id }}
      - name: Set environment variables
        run: |
          {
          	cat <<-EOF
          	GITHUB_ACTION_CONFIG.AUTO_DESCRIBE=${{ inputs.auto-describe || 'true' }}
          	GITHUB_ACTION_CONFIG.AUTO_REVIEW=${{ inputs.auto-review || 'true' }}
          	GITHUB_ACTION_CONFIG.AUTO_IMPROVE=${{ inputs.auto-improve || 'true' }}
          	PR_DESCRIPTION.EXTRA_INSTRUCTIONS=${{ inputs.pr-description-extra-instructions }}
          	PR_REVIEWER.EXTRA_INSTRUCTIONS=${{ inputs.pr-reviewer-extra-instructions }}
          	PR_CODE_SUGGESTIONS.EXTRA_INSTRUCTIONS=${{ inputs.pr-code-suggestions-extra-instructions }}
          	PR_UPDATE_CHANGELOG.EXTRA_INSTRUCTIONS=${{ inputs.pr-update-changelog-extra-instructions }}
          	EOF
          	if [[ -n '${{ secrets.GROQ_API_KEY }}' ]]; then
          		cat <<-EOF
          		CONFIG.MODEL=${{ inputs.model || 'groq/llama-3.1-405b-reasoning' }}
          		CONFIG.MODEL_TURBO=${{ inputs.model_turbo || 'groq/llama-3.1-405b-reasoning' }}
          		CONFIG.FALLBACK_MODELS=${{ inputs.fallback_models || 'groq/llama-3.1-70b-versatile' }}
          		CONFIG.MAX_DESCRIPTION_TOKENS=${{ inputs.max-description-tokens || 131072 }}
          		CONFIG.MAX_COMMITS_TOKENS=${{ inputs.max-commits-tokens || 131072 }}
          		CONFIG.MAX_MODEL_TOKENS=${{ inputs.max-model-tokens || 131072 }}
          		GROQ.KEY=${{ secrets.GROQ_API_KEY }}
          		EOF
          	elif [[ -n '${{ inputs.aws-iam-role-to-assume }}' ]] || [[ -n '${{ steps.aws-profile-env.outputs.ROLE_ARN }}' ]]; then
          		cat <<-EOF
          		CONFIG.MODEL=${{ inputs.model || 'bedrock/anthropic.claude-3-5-sonnet-20240620-v1:0' }}
          		CONFIG.MODEL_TURBO=${{ inputs.model_turbo || 'bedrock/anthropic.claude-3-5-sonnet-20240620-v1:0' }}
          		CONFIG.FALLBACK_MODELS=${{ inputs.fallback_models || 'bedrock/anthropic.claude-3-sonnet-20240229-v1:0' }}
          		CONFIG.MAX_DESCRIPTION_TOKENS=${{ inputs.max-description-tokens }}
          		CONFIG.MAX_COMMITS_TOKENS=${{ inputs.max-commits-tokens }}
          		CONFIG.MAX_MODEL_TOKENS=${{ inputs.max-model-tokens }}
          		EOF
          	elif [[ -n '${{ secrets.OPENAI_API_KEY }}' ]]; then
          		cat <<-EOF
          		CONFIG.MODEL=${{ inputs.model || 'gpt-4o-mini-2024-07-18' }}
          		CONFIG.MODEL_TURBO=${{ inputs.model_turbo || 'gpt-4o-mini-2024-07-18' }}
          		CONFIG.FALLBACK_MODELS=${{ inputs.fallback_models || 'gpt-4o-mini' }}
          		CONFIG.MAX_DESCRIPTION_TOKENS=${{ inputs.max-description-tokens }}
          		CONFIG.MAX_COMMITS_TOKENS=${{ inputs.max-commits-tokens }}
          		CONFIG.MAX_MODEL_TOKENS=${{ inputs.max-model-tokens }}
          		OPENAI.API_TYPE=${{ inputs.openai-api-type }}
          		OPENAI.API_BASE=${{ inputs.openai-api-base }}
          		OPENAI.API_VERSION=${{ inputs.openai-api-version }}
          		OPENAI.DEPLOYMENT_ID=${{ inputs.openai-deployment-id }}
          		OPENAI.KEY=${{ secrets.OPENAI_API_KEY }}
          		OPENAI.ORG=${{ secrets.OPENAI_ORGANIZATION }}
          		EOF
          	fi
          } | grep -ve '^[^=]*=$' | tee -a "${GITHUB_ENV}"
      - name: Run PR-agent
        uses: Codium-ai/pr-agent@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
