---
name: Lint for Shell
on:
  workflow_call:
    inputs:
      search-path:
        required: false
        type: string
        description: Path to search for files
        default: .
defaults:
  run:
    shell: bash -euo pipefail {0}
    working-directory: .
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install ShellCheck
        run: |
          sudo apt-get -y update
          sudo apt-get -y install --no-install-recommends --no-install-suggests shellcheck
      - name: Execute shellcheck
        working-directory: ${{ inputs.search-path }}
        run: >
          find . -type f \( -name '*.sh' -o -name '*.bash' -o -name '*.bats' \) -print0
          | xargs -0 -t shellcheck --external-sources
